body {
    margin: 0px;
    padding: 0px;
    background-image: url('https://wallpapercave.com/wp/wp3897203.jpg');
    background-size: cover;
    background-position: center;
}

.img-centralizada {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

div {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.cont .container {
    border: 4px solid brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*background: linear-gradient(to bottom right, #161616, #252525);*/
}
a{
    border: 3px solid #FFC107;
}


h1 {
    display: block;
    font-size: 2em;
    margin-block-start: -3.33em;
    margin-block-end: 0.67em;
    margin-inline-start: 199px;
    margin-inline-end: 35px;
    font-weight: bold;
    font-size: 7rem;
    color: #151615;
    margin-bottom: 1em;
}

h2 {
    text-align: center;
    align-self: center;
    font-size: 4rem;
    color: #0a0202;
    margin-bottom: 8em;
    margin-left: 5%;
}

form {

    display: flex;
    flex-direction: unset;
    align-items: center;
    justify-content: center;
}
m{
    display: block;
    margin-top: 0em;

}
label {
    text-align: center;
    align-self: center;
    font-size: 3rem;
    color: #ffffffba;
    margin-bottom: 1em;
    color: #FFC107;
    margin-bottom: 14.5rem;
    margin-left: 0%;
}

input[type="text"] {
    border: 3px solid #0a0202;
    position-bolder: 3px solid black;
    border: #1a1a1a;
    border-radius: 1.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: rgb(255 255 255 / 78%);
    background-color: #9E9E9E;
    margin: 11px;
}

button[type="submit"] {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: #1a1a1a;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #333;
}

.back-button {
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: #761717;
    color: #fff;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.back-button:hover {
    transform: scale(1.1, 1.1);
}

.back-button:before {
    content: "\2190";
    font-size: 1.5rem;
}


/* Estilos CSS para a tabela  Dashbord*/
/* Estilos CSS para a tabela */
table {
    justify-items: center;
    border: -6px solid #1a1a1a;
    margin: auto;
    width: 764px;
    height: 242px;
    border-collapse: collapse;
    margin: 0px -194px;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 173px;
    box-shadow:

        /*justify-items: center;*/
    /*border: 3px solid #1a1a1a;*/
    /*margin: auto;*/
    /*width: 560px;*/
    /*height: 369px;*/
    /*border-collapse: collapse;*/
    /*margin: 20px 0;*/
    /*font-size: 1em;*/
    /*font-family: sans-serif;*/
    /*min-width: 400px;*/
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);*/
}

th {
    border: 1px solid  #dddddd;
    font-size: 18px;
    font-family: "Arial Black";
    font-weight: bold;
    text-align: center;
    padding: 12px 15px;
}

td {
    border-bottom: 1px solid #ddd;
    padding: -17px 0px;
    font-size: 18px;
    font-family: "Arial Black";
    /*border-bottom: 1px solid #ddd;*/
    /*padding: 96px 15px;*/
    /*font-size: 18px;*/
    /*font-family: "Arial Black";*/

}

tr:hover {
    background-color: #f5f5f5;
}

button[type="submit"], a {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border: #761717;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    transition: all 0.2s ease-in-out;
    font-family: Arial;
}

button[type="submit"]:hover, a:hover {
    background-color: #e03d3d;
    font-family: Arial;
}
